table{
    border: 1px;
    background-color: lightcyan;
    padding: 30px;
    border-radius: 10px;

}
input{
    margin: 10px;
    border-radius: 10px;
    height: 20px;
    text-align: center;
    background-color: inherit;
    border-style: solid;
}
button{
    border-radius: 10px;
    text-align: center;
    margin-left: 38px;
    margin-top: 15px;
    height: 25px;
    width: 120px;
    
}